/* istanbul ignore file */
const request = require('supertest');
const app = require('../app.js');
const { User, Product, Deal } = require('../models')
const { generateToken } = require('../helpers/jwt.js');
const { seederUser } = require('./seeder.js');

let access_token;
let ProductId;
let idUser
let DealsId

describe('testing /products', () => {
  beforeAll((done) => {
    seederUser()
    .then(() => {
      return User.findOne()
    })
    .then(data => {
      const user = {
        id: data.id,
        email: data.email
      }
      idUser = user.id
      access_token = generateToken(user)

      const body = {
        UserId: idUser,
        TypeId:1,
        CategoryId: 1,
        name: 'baju',
        price: 150000,
        description: " baju baru ",
        imageUrl: 'https://cf.shopee.co.id/file/17360534176f08e8dc2d91320e440cdb',
        location: 'jakarta',
        sold: false,
        available: true,
        condition: 90
      }

      return Product.create(body)
    })
    .then(() => {
      return Product.findOne()
    })
    .then(product => {
      ProductId = product.id
      return Deal.create({
        UserId: idUser,
        ProductId
      })
    })
    .then(deal => {
      DealsId = deal.id
      done()
    })
    .catch(err => {
      done(err)
    })
  });
  afterAll((done) => {
    Product.destroy({ where: {} })
    .then(() => {
      // done()
      return User.destroy({ where: {}})
    })
    .then(() => {
      done()
    })
    .catch(err => {
      done(err)
    })
  })

  describe('GET carts', () => {
    it('It should returned with status code 200', (done) => {
      request(app)
        .get('/deals/')
        .send()
        .set('access_token', access_token)
        .end((err, res) => {
          if (err) done(err);
          expect(res.statusCode).toEqual(200);
          expect(typeof res.body).toEqual('object');
          expect(res.body).toHaveProperty('UserId', expect.any(Number));
          expect(res.body).toHaveProperty('ProductId', expect.any(Number));
          expect(res.body).toHaveProperty('Products', expect.any(Object));
          expect(Array.isArray(res.body.Products)).toEqual(
            expect.arrayContaining([expect.any(Object)])
          );
  
          done();
        });
    });
  });
  
  describe('POST new items to deals', () => {
    describe('POST SUCCESS CASE', () => {
      it('It should return with status code 201 and return new data', (done) => {
        const body = {
          UserId: Number,
          ProductId: Number,
        };
  
        request(app)
          .post('/deals/')
          .send(body)
          .set('access_token', access_token)
          .end((err, res) => {
            if (err) done(err);
            expect(res.statusCode).toEqual(200);
            expect(typeof res.body).toEqual('object');
            expect(res.body).toHaveProperty('id', expect.any(Number));
            expect(typeof res.body.id).toEqual('number');
            expect(res.body).toHaveProperty('ProductId', expect.any(Number));
            expect(typeof res.body.id).toEqual('number');
            expect(res.body).toHaveProperty('ProductId', expect.any(Number));
            expect(typeof res.body.id).toEqual('number');
            expect(res.body).toHaveProperty('Product', expect.any(Array));
            done();
          });
      });
    });
  });
  
  describe('DELETE SUCCESS: delete cart', () => {
    const body = {
      ProductId: 1,
    };
    it('Should return with status code 200', (done) => {
      request(app)
        .delete(`/deals/${DealId}`)
        .set('access_token', access_token)
        .end((err, res) => {
          if (err) done(err);
          expect(res.statusCode).toEqual(200);
          expect(typeof res.body).toEqual('object');
          expect(res.body).toHaveProperty('message', 'Deal deleted');
          done();
        });
    });
  });
  
  

});


